In [51]:
import pandas as pd
import numpy as np
import re

In [66]:
df = pd.read_csv("database_final.csv")

In [67]:
df = df.drop(columns = "Unnamed: 0" )

In [68]:
emotion = []
for id in np.arange(0, df.shape[0]):
    if df["id"].iloc[id][6:8] == "01":
        emotion.append("neutral")
    elif df["id"].iloc[id][6:8] == "02":
        emotion.append("calm")
    elif df["id"].iloc[id][6:8] == "03":
        emotion.append("happy")
    elif df["id"].iloc[id][6:8] == "04":
        emotion.append("sad")
    elif df["id"].iloc[id][6:8] == "05":
        emotion.append("angry")
    elif df["id"].iloc[id][6:8] == "06":
        emotion.append("fearful")
    elif df["id"].iloc[id][6:8] == "07":
        emotion.append("disgust")
    else:
        emotion.append("surprised")

In [69]:
df["emotion"] = emotion

In [70]:
gender = []
for id in np.arange(0, df.shape[0]):
    if int(df["id"].iloc[0][-2:]) % 2 == 0:
        gender.append("female")
    else:
        gender.append("male")

In [71]:
df["gender"] = gender

In [96]:
df["mfcc"]

0        [-13.379193  -13.197718  -13.240178  -13.40585...
1        [-12.094262  -12.306206  -13.71257   -13.07329...
2        [-14.458181  -14.468512  -15.264155  -15.69551...
3        [-15.7304125 -13.741358  -13.427342  -14.36428...
4        [-11.881211  -12.674193  -13.911763  -15.31289...
                               ...
11957    [[ 0.19856001  0.14082783  0.1321133  ...  0.2...
11958    [[ 0.06455994  0.06760315  0.14062564 ...  0.0...
11959    [[ 0.19957937  0.21638086  0.34762213 ...  0.0...
11960    [[ 0.2547052   0.20754212  0.21810158 ...  0.1...
11961    [[ 0.0996254   0.1054377   0.08276478 ...  0.1...
Name: mfcc, Length: 11962, dtype: object

In [ ]:
import re
ll=[]
for x in df['mfcc']:
    x=re.sub(r'[^0-9 \-\.]+','',x)
    ll.append(x)
ll[5:]

In [93]:
mfcc_list = []
for row in np.arange(0, df.shape[0]):
    m_list = list(filter(None, re.split(" |\n", df["mfcc"][row])))
    
    # try:
    #     m_list.remove('[').remove('[[').remove(']').remove(']]')
    # except:
    #     pass
#     m_list[-1] = m_list[-1][:-1]
#     m_list[0] = m_list[0][1:]
    
    
    mfcc_list.append(m_list)

TypeError: 'str' object is not callable

In [91]:
df["mfcc_list"] = mfcc_list

In [92]:
mfcc_list[-5:]

[['[[',
  '0.19856001',
  '0.14082783',
  '0.1321133',
  '...',
  '0.24562913',
  '0.27958333',
  '0.14557926]',
  '[',
  '0.27494878',
  '0.19543788',
  '0.18344554',
  '...',
  '0.3402514',
  '0.38767517',
  '0.2016514',
  ']',
  '[',
  '0.25861216',
  '0.18536803',
  '0.17429969',
  '...',
  '0.32004744',
  '0.3656894',
  '0.18981601]',
  '...',
  '[-0.15524626',
  '-0.06081133',
  '-0.06060999',
  '...',
  '-0.23850554',
  '-0.26228374',
  '-0.11700819]',
  '[-0.14812337',
  '-0.05480119',
  '-0.05559465',
  '...',
  '-0.21313995',
  '-0.23614775',
  '-0.10401362]',
  '[-0.13647449',
  '-0.04602788',
  '-0.04760235',
  '...',
  '-0.1784912',
  '-0.19922382',
  '-0.08607101]]'],
 ['[[',
  '0.06455994',
  '0.06760315',
  '0.14062564',
  '...',
  '0.04760209',
  '0.07737175',
  '0.09497824]',
  '[',
  '0.09000434',
  '0.09377947',
  '0.1947234',
  '...',
  '0.06564397',
  '0.10746901',
  '0.13217059]',
  '[',
  '0.0870855',
  '0.0892878',
  '0.18332577',
  '...',
  '0.06158155',
  '0.10261201',
  '0.12664613]',
  '...',
  '[',
  '0.0350612',
  '-0.00360172',
  '-0.12656571',
  '...',
  '-0.0262838',
  '-0.03348813',
  '-0.03729089]',
  '[',
  '0.03466451',
  '-0.00095795',
  '-0.11621432',
  '...',
  '-0.0240335',
  '-0.03170264',
  '-0.03942128]',
  '[',
  '0.03445154',
  '0.00292752',
  '-0.10068971',
  '...',
  '-0.02074465',
  '-0.02803582',
  '-0.03966593]]'],
 ['[[',
  '0.19957937',
  '0.21638086',
  '0.34762213',
  '...',
  '0.08383449',
  '0.1616331',
  '0.10797475]',
  '[',
  '0.27655464',
  '0.3004214',
  '0.48318812',
  '...',
  '0.11632846',
  '0.22444871',
  '0.14991266]',
  '[',
  '0.26051804',
  '0.28471774',
  '0.45921582',
  '...',
  '0.11066219',
  '0.21317598',
  '0.14218572]',
  '...',
  '[-0.15143907',
  '-0.13804501',
  '-0.27167583',
  '...',
  '-0.03908469',
  '-0.14139111',
  '-0.10250658]',
  '[-0.13527517',
  '-0.12404867',
  '-0.2554357',
  '...',
  '-0.03889985',
  '-0.13581885',
  '-0.09781302]',
  '[-0.11331892',
  '-0.1042417',
  '-0.22856274',
  '...',
  '-0.03698815',
  '-0.12467045',
  '-0.08919138]]'],
 ['[[',
  '0.2547052',
  '0.20754212',
  '0.21810158',
  '...',
  '0.1976559',
  '0.24289106',
  '0.12456787]',
  '[',
  '0.35306022',
  '0.28731543',
  '0.30191135',
  '...',
  '0.272528',
  '0.33620286',
  '0.17091507]',
  '[',
  '0.33286923',
  '0.26981628',
  '0.28347474',
  '...',
  '0.2562436',
  '0.32111472',
  '0.16223937]',
  '...',
  '[-0.26034763',
  '-0.21806923',
  '-0.21985896',
  '...',
  '0.00713686',
  '-0.05370709',
  '-0.02300525]',
  '[-0.2452662',
  '-0.2011343',
  '-0.20384918',
  '...',
  '0.00382197',
  '-0.04951908',
  '-0.02123613]',
  '[-0.22099738',
  '-0.17639132',
  '-0.18017259',
  '...',
  '0.00409292',
  '-0.03917126',
  '-0.01636472]]'],
 ['[[',
  '0.0996254',
  '0.1054377',
  '0.08276478',
  '...',
  '0.11318635',
  '0.10640457',
  '0.07389949]',
  '[',
  '0.13867414',
  '0.14685938',
  '0.11496376',
  '...',
  '0.15672424',
  '0.14670877',
  '0.10014498]',
  '[',
  '0.13295868',
  '0.14094043',
  '0.109643',
  '...',
  '0.14801435',
  '0.13752967',
  '0.09053513]',
  '...',
  '[-0.01363533',
  '-0.01579917',
  '-0.02732054',
  '...',
  '-0.04739562',
  '-0.06706842',
  '-0.05320661]',
  '[-0.01314585',
  '-0.01407639',
  '-0.02544127',
  '...',
  '-0.04342464',
  '-0.06448507',
  '-0.05101482]',
  '[-0.01147557',
  '-0.01066323',
  '-0.02182685',
  '...',
  '-0.03730916',
  '-0.05921744',
  '-0.04699444]]']]

In [74]:
y = []
for row in np.arange(0, df.shape[0]):
    y.append(f"{df.gender.iloc[row]}_{df.emotion.iloc[row]}")

In [75]:
df["y"] = y

In [76]:
df.to_csv('database_v3.csv')

In [105]:
df_for_model = pd.concat([df["y"],pd.DataFrame(df['mfcc_list'].values.tolist())],axis=1)
df_for_model.head()

,y,0,1,2,3,4,5,6,7,8,...,299,300,301,302,303,304,305,306,307,308
0,male_surprised,[-13.379193,-13.197718,-13.240178,-13.405859,-13.433214,-13.254417,-13.169827,-13.747816,-13.713247,...,None,None,None,None,None,None,None,None,None,None
1,male_surprised,[-12.094262,-12.306206,-13.71257,-13.07329,-13.571109,-14.416754,-14.385157,-14.287642,-14.653954,...,None,None,None,None,None,None,None,None,None,None
2,male_surprised,[-14.458181,-14.468512,-15.264155,-15.695517,-15.748079,-14.841174,-14.115837,-13.645067,-13.210933,...,None,None,None,None,None,None,None,None,None,None
3,male_surprised,[-15.7304125,-13.741358,-13.427342,-14.364286,-15.704844,-16.024124,-14.401907,-14.252264,-14.970026,...,None,None,None,None,None,None,None,None,None,None
4,male_surprised,[-11.881211,-12.674193,-13.911763,-15.312892,-14.587259,-13.999997,-13.548653,-13.415891,-13.300756,...,None,None,None,None,None,None,None,None,None,None

In [78]:
df_for_model.columns.tolist()[:4]

['y', 0, 1, 2]

In [88]:
df_for_model[0]

0         -13.379193
1         -12.094262
2         -14.458181
3        -15.7304125
4         -11.881211
            ...
11957              [
11958              [
11959              [
11960              [
11961              [
Name: 0, Length: 11962, dtype: object

In [24]:
#df_for_model.info()

In [26]:
#new_list = [for elem in X.replace('[ ]',[''])]
#new_list
#new_list = [elem.split(' ') for elem in new_list]
#new_list
#for elem in new_list:
  #for num in elem:
    #float(num)
df_for_model[0] = df_for_model[0].str.replace('[','')

/var/folders/7d/cjq_vxdx7vqfc6jkyf5tpx4r0000gn/T/ipykernel_1921/9847974.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_for_model[0] = df_for_model[0].str.replace('[','')

In [48]:
df_for_model[] = df_for_model[...].str.replace('...','')

KeyError: Ellipsis

In [80]:
df_for_model.to_csv("df_final_god.csv")

In [81]:
df_for_model.head()

,y,0,1,2,3,4,5,6,7,8,...,299,300,301,302,303,304,305,306,307,308
0,male_surprised,-13.379193,-13.197718,-13.240178,-13.405859,-13.433214,-13.254417,-13.169827,-13.747816,-13.713247,...,None,None,None,None,None,None,None,None,None,None
1,male_surprised,-12.094262,-12.306206,-13.71257,-13.07329,-13.571109,-14.416754,-14.385157,-14.287642,-14.653954,...,None,None,None,None,None,None,None,None,None,None
2,male_surprised,-14.458181,-14.468512,-15.264155,-15.695517,-15.748079,-14.841174,-14.115837,-13.645067,-13.210933,...,None,None,None,None,None,None,None,None,None,None
3,male_surprised,-15.7304125,-13.741358,-13.427342,-14.364286,-15.704844,-16.024124,-14.401907,-14.252264,-14.970026,...,None,None,None,None,None,None,None,None,None,None
4,male_surprised,-11.881211,-12.674193,-13.911763,-15.312892,-14.587259,-13.999997,-13.548653,-13.415891,-13.300756,...,None,None,None,None,None,None,None,None,None,None

In [84]:
X = df_for_model[0]

In [85]:
type(X)

pandas.core.series.Series

In [108]:
type(ll[0])

str