In [ ]:
%load_ext autoreload
%autoreload 2

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

from glob import glob

import os

# os.chdir allows you to change directories, like cd in the Terminal
os.chdir('/content/drive/MyDrive/Colab Notebooks')

# Subtitute for your own path to database folder. Structure afterwards is /databasename/files.wav
# "/content/drive/MyDrive/Emotion Datasets/Emotion Datasets/Audio/RAVDESS/Audio_Speech_Actors_01-24/*.wav")
path = '/content/drive/MyDrive/Emotion Datasets/Emotion Datasets/Audio'

Mounted at /content/drive

In [ ]:
import librosa

In [ ]:
import tensorflow as tf

In [ ]:
def preprocessing (audio):
    mfcc = []
    X, sr = librosa.load(audio)
    X_trim = librosa.effects.trim(X,top_db=35)
    if X_trim[0].shape[0] >= 50000:
        X_final = X_trim[0][:50000]
        X_final = tf.convert_to_tensor(X_final).numpy()
    else:
        zero_padding = tf.zeros([50000]-tf.shape(X_trim[0]),dtype=tf.float32)
        X_final = tf.concat([X_trim[0],zero_padding],0).numpy()
    S = librosa.feature.mfcc(y=X_final, sr=sr)
    mfcc.append(S)
    X= np.array(mfcc)
    X_flat=X.reshape(20*98)
    return X_flat

In [ ]:
test = preprocessing('/content/drive/MyDrive/Emotion Datasets/Emotion Datasets/Audio/RAVDESS/Audio_Speech_Actors_01-24/03-01-01-01-01-01-01.wav')

In [ ]:

from glob import glob
import numpy as np
import pandas as pd

In [ ]:
from data_extraction_2 import extract_ravdess, extract_crema, extract_savee, extract_ESD, extract_JL, extract_ASVP, extract_tess

In [ ]:
X1, y1 = extract_ravdess(trim=True)

In [ ]:
X1.shape

(1440, 1960)

In [ ]:
X2, y2 = extract_crema(trim=True)

In [ ]:
X2.shape

(7442, 1960)

In [ ]:
X3, y3 = extract_savee(trim=True)

In [ ]:
X3.shape

(480, 1960)

In [ ]:
X4, y4 = extract_JL(trim=True)

In [ ]:
X4.shape

(2214, 1960)

In [ ]:
X5, y5 = extract_ASVP(trim=True)

In [ ]:
X5.shape

(8683, 1960)

In [ ]:
X6, y6 = extract_tess(trim=True)

In [ ]:
X6.shape

(2600, 1960)

In [ ]:
X_semifinal = pd.concat([X1,X2,X3,X4,X5,X6], ignore_index=True)

In [ ]:
yx = y1.copy()

In [ ]:
emo_relation = {1: 'neutral', 2: 'calm', 3: 'happy', 4: 'sad',
            5: 'angry', 6: 'fearful', 7: 'disgust', 8: 'surprised',
            '1': 'neutral', '2': 'calm', '3': 'happy', '4': 'sad',
            '5': 'angry', '6': 'fearful', '7': 'disgust', '8': 'surprised'}

In [ ]:
yx = yx.replace({0:emo_relation})

In [ ]:
emo_relation = {'NEU': 'neutral', 2: 'calm', 'HAP': 'happy', 'SAD': 'sad',
            'ANG': 'angry', 'FEA': 'fearful', 'DIS': 'disgust', 8: 'surprised',
            '_SA': 'sad'}

In [ ]:
yx2 = y2.replace({0:emo_relation})

In [ ]:
emo_relation = {'_n': 'neutral', 2: 'calm', '_h': 'happy', 'sa': 'sad',
            '_a': 'angry', '_f': 'fearful', '_d': 'disgust', 'su': 'surprised'}

In [ ]:
yx3 = y3.replace({0:emo_relation})

In [ ]:
emo_relation ={'_angr': 'angry','e1_an': 'angry','e2_an': 'angry',
                   '_apol': 'apologetic','e1_ap': 'apologetic','e2_ap': 'apologetic',
                   '_conc': 'concerned','e1_co': 'concerned','e2_co': 'concerned',
                   '_enco': 'encouraging','e1_en': 'encouraging','e2_en': 'encouraging',
                   '_asse': 'assertive','e1_as': 'assertive','e2_as': 'assertive',
                   '_exci': 'excited','e1_ex': 'excited','e2_ex': 'excited',
                   '_happ': 'happy','e1_ha': 'happy','e2_ha': 'happy',
                   '_neut': 'neutral','e1_ne': 'neutral','e2_ne': 'neutral',
                   '_ques': 'question','e1_qu': 'question','e2_qu': 'question',
                   '_sad_': 'sad','e1_sa': 'sad','e2_sa': 'sad', '_anxi':'anxious'
                   }

In [ ]:
yx4 = y4.replace({0:emo_relation})

In [ ]:
emo_relation ={'01': 'bored', '02': 'neutral','03':'happy', '04': 'sad',
                   '05': 'angry','06': 'fearful','07': 'disgust',
                   '08':'surprised','09': 'excited','10': 'pleasure',
                   '11': 'pain', '12': 'disappointed'
                   }

In [ ]:
yx5 = y5.replace({0:emo_relation})

In [ ]:
yx6 = y6

In [ ]:
print(X1.shape)
print(X2.shape)
print(X3.shape)
print(X4.shape)
print(X5.shape)
print(X6.shape)

(1440, 1960)
(7442, 1960)
(480, 1960)
(2214, 1960)
(8683, 1960)
(2600, 1960)

(1440, 1)

In [ ]:
print(yx[0][0])
print(yx2[0][0])
print(yx3[0][0])
print(yx4[0][0])
print(yx5[0][0])
print(yx6[0][0])

surprised
fearful
angry
encouraging
bored
disgust

In [ ]:
X_semifinal = pd.concat([X1,X2,X3,X4,X5,X6], ignore_index=True)

In [ ]:
X_semifinal.shape

(22859, 1960)

In [ ]:
X_semifinal.to_pickle('X_semifnal.pkl')

In [ ]:
y_semifinal= pd.concat([yx,yx2,yx3,yx4,yx5,yx6], ignore_index=True)

In [ ]:
y_semifinal.shape

(22859, 1)

In [ ]:
y_semifinal.to_pickle('y_semifnal.pkl')

In [ ]:
X7, y7 = extract_ESD(trim=True)

In [ ]:
X7.shape

(17500, 1960)

In [ ]:
X_final = pd.concat([X_semifinal,X7], ignore_index=True)

In [ ]:
y_final= pd.concat([y_semifinal,y7], ignore_index=True)

In [ ]:
y_final = y_final.rename(columns={0:'emotion'})

In [ ]:
y_final.head(2)

     emotion
0  surprised
1    fearful

In [ ]:
df = pd.concat([X_final,y_final], axis=1)

In [ ]:
df.head(2)

,0,1,2,3,4,5,6,7,8,9,...,1951,1952,1953,1954,1955,1956,1957,1958,1959,emotion
0,-479.404755,-398.397095,-364.782837,-337.846771,-316.627808,-310.222931,-314.818542,-308.885223,-297.959137,-317.647247,...,11.06157,11.945036,10.932281,14.437454,9.179834,6.551725,6.68632,3.352816,4.694935,surprised
1,-535.179932,-408.081818,-354.822693,-310.673035,-301.282013,-299.028595,-312.279572,-332.471466,-336.080627,-314.011444,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,fearful

In [ ]:
df_final = df

In [ ]:
df = df_final[(df_final['emotion']!='bored') & (df_final['emotion']!='calm') & (df_final['emotion']!='excited') & (df_final['emotion']!='disappointment') & (df_final['emotion']!='pain') & (df_final['emotion']!='pleasure') ]

In [ ]:
df_final = df

In [ ]:
df = df_final[(df_final['emotion']!='concerned') & (df_final['emotion']!='assertive') & (df_final['emotion']!='excited') & (df_final['emotion']!='apologetic') & (df_final['emotion']!='anxious') & (df_final['emotion']!='13') ]

In [ ]:
df_final = df

In [ ]:
df = df_final[(df_final['emotion']!='concerned') & (df_final['emotion']!='assertive') & (df_final['emotion']!='excited') & (df_final['emotion']!='disappointed') & (df_final['emotion']!='encouraging') & (df_final['emotion']!='encouraging') ]

In [ ]:
df_final = df

In [ ]:

df = df_final[(df_final['emotion']!='bored') & (df_final['emotion']!='calm') & (df_final['emotion']!='excited') & (df_final['emotion']!='disappointment') & (df_final['emotion']!='pain') & (df_final['emotion']!='pleasure') ]

In [ ]:
df.groupby('emotion').count()

,0,1,2,3,4,5,6,7,8,9,...,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959
emotion,,,,,,,,,,,,,,,,,,,,,
Angry,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500,...,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500
Happy,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500,...,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500
Neutral,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500,...,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500
Sad,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500,...,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500
Surprise,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500,...,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500
angry,3287,3287,3287,3287,3287,3287,3287,3287,3287,3287,...,3287,3287,3287,3287,3287,3287,3287,3287,3287,3287
disgust,2378,2378,2378,2378,2378,2378,2378,2378,2378,2378,...,2378,2378,2378,2378,2378,2378,2378,2378,2378,2378
fearful,2792,2792,2792,2792,2792,2792,2792,2792,2792,2792,...,2792,2792,2792,2792,2792,2792,2792,2792,2792,2792
happy,3367,3367,3367,3367,3367,3367,3367,3367,3367,3367,...,3367,3367,3367,3367,3367,3367,3367,3367,3367,3367
neutral,2967,2967,2967,2967,2967,2967,2967,2967,2967,2967,...,2967,2967,2967,2967,2967,2967,2967,2967,2967,2967
sad,3217,3217,3217,3217,3217,3217,3217,3217,3217,3217,...,3217,3217,3217,3217,3217,3217,3217,3217,3217,3217
surprised,1695,1695,1695,1695,1695,1695,1695,1695,1695,1695,...,1695,1695,1695,1695,1695,1695,1695,1695,1695,1695

In [ ]:
df_final = df

In [ ]:
df_final['emotion'][df_final['emotion']=='Angry'] = "angry"
df_final['emotion'][df_final['emotion']=='Happy'] = "happy"
df_final['emotion'][df_final['emotion']=='Neutral'] = "neutral"
df_final['emotion'][df_final['emotion']=='Sad'] = "sad"
df_final['emotion'][df_final['emotion']=='Surprise'] = "surprised"

<ipython-input-111-ec435d48dc19>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['emotion'][df_final['emotion']=='Happy'] = "happy"
<ipython-input-111-ec435d48dc19>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['emotion'][df_final['emotion']=='Neutral'] = "neutral"
<ipython-input-111-ec435d48dc19>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['emotion'][df_final['emotion']=='Sad'] = "sad"
<ipython-input-111-ec435d48dc19>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['emotion'][df_final['emotion']=='Surprise'] = "surprised"

In [ ]:
df_final.groupby('emotion').count()

,0,1,2,3,4,5,6,7,8,9,...,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959
emotion,,,,,,,,,,,,,,,,,,,,,
angry,6787,6787,6787,6787,6787,6787,6787,6787,6787,6787,...,6787,6787,6787,6787,6787,6787,6787,6787,6787,6787
disgust,2378,2378,2378,2378,2378,2378,2378,2378,2378,2378,...,2378,2378,2378,2378,2378,2378,2378,2378,2378,2378
fearful,2792,2792,2792,2792,2792,2792,2792,2792,2792,2792,...,2792,2792,2792,2792,2792,2792,2792,2792,2792,2792
happy,6867,6867,6867,6867,6867,6867,6867,6867,6867,6867,...,6867,6867,6867,6867,6867,6867,6867,6867,6867,6867
neutral,6467,6467,6467,6467,6467,6467,6467,6467,6467,6467,...,6467,6467,6467,6467,6467,6467,6467,6467,6467,6467
sad,6717,6717,6717,6717,6717,6717,6717,6717,6717,6717,...,6717,6717,6717,6717,6717,6717,6717,6717,6717,6717
surprised,5195,5195,5195,5195,5195,5195,5195,5195,5195,5195,...,5195,5195,5195,5195,5195,5195,5195,5195,5195,5195

In [ ]:

df = df_final[(df_final['emotion']!='fearful') & (df_final['emotion']!='calm') & (df_final['emotion']!='excited') & (df_final['emotion']!='disappointment') & (df_final['emotion']!='pain') & (df_final['emotion']!='pleasure') ]

In [ ]:
df_final.groupby('emotion').count()

,0,1,2,3,4,5,6,7,8,9,...,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959
emotion,,,,,,,,,,,,,,,,,,,,,
angry,6787,6787,6787,6787,6787,6787,6787,6787,6787,6787,...,6787,6787,6787,6787,6787,6787,6787,6787,6787,6787
disgust,2378,2378,2378,2378,2378,2378,2378,2378,2378,2378,...,2378,2378,2378,2378,2378,2378,2378,2378,2378,2378
fearful,2792,2792,2792,2792,2792,2792,2792,2792,2792,2792,...,2792,2792,2792,2792,2792,2792,2792,2792,2792,2792
happy,6867,6867,6867,6867,6867,6867,6867,6867,6867,6867,...,6867,6867,6867,6867,6867,6867,6867,6867,6867,6867
neutral,6467,6467,6467,6467,6467,6467,6467,6467,6467,6467,...,6467,6467,6467,6467,6467,6467,6467,6467,6467,6467
sad,6717,6717,6717,6717,6717,6717,6717,6717,6717,6717,...,6717,6717,6717,6717,6717,6717,6717,6717,6717,6717
surprised,5195,5195,5195,5195,5195,5195,5195,5195,5195,5195,...,5195,5195,5195,5195,5195,5195,5195,5195,5195,5195

In [ ]:
X_final = df.drop(columns='emotion')
y_final= df['emotion']

In [ ]:
X_final.to_pickle('X_final.pkl')

In [ ]:
y_final.to_pickle('y_final.pkl')

In [ ]:
df.to_pickle('df_final.pkl')

In [ ]:
# df2 = df_final[df_final['emotion']!='surprised']

In [ ]:
# df2 =  df2[df2['emotion']!='calm']

In [ ]:
# df_rv_cr = pd.concat([savee,tess])

In [ ]:
# df2.groupby('emotion').count()['tonnetz']

In [ ]:
from data_extraction import extract_ESD, extract_JL, extract_ASVP, extract_tess

In [ ]:
jl = extract_JL(trim=True)

/usr/local/lib/python3.8/dist-packages/librosa/core/spectrum.py:222: UserWarning: n_fft=1024 is too small for input signal of length=1016
  warnings.warn(

In [ ]:
from glob import glob

In [ ]:
jl = jl[jl['emotion']!='_anxi']

In [ ]:
jl.groupby('emotion').count()

,id,wave,mel_spec,fourrier,spec,spectral_centroid,mfcc,chroma_stft,tonnetz,intensity,repetition,actor_gender,actor_age,source
emotion,,,,,,,,,,,,,,
angry,364,364,364,364,364,364,364,364,364,364,364,364,364,364
anxious,120,120,120,120,120,120,120,120,120,120,120,120,120,120
apologetic,240,240,240,240,240,240,240,240,240,240,240,240,240,240
assertive,240,240,240,240,240,240,240,240,240,240,240,240,240,240
concerned,240,240,240,240,240,240,240,240,240,240,240,240,240,240
encouraging,240,240,240,240,240,240,240,240,240,240,240,240,240,240
excited,230,230,230,230,230,230,230,230,230,230,230,230,230,230
happy,180,180,180,180,180,180,180,180,180,180,180,180,180,180
neutral,180,180,180,180,180,180,180,180,180,180,180,180,180,180
sad,180,180,180,180,180,180,180,180,180,180,180,180,180,180

In [ ]:
esd = extract_ESD(trim=True)

/usr/local/lib/python3.8/dist-packages/librosa/core/spectrum.py:222: UserWarning: n_fft=1024 is too small for input signal of length=1016
  warnings.warn(

In [ ]:
esd.groupby('emotion').count()

,id,wave,mel_spec,fourrier,spec,spectral_centroid,mfcc,chroma_stft,tonnetz,intensity,repetition,actor_gender,actor_age,source
emotion,,,,,,,,,,,,,,
angry,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500
happy,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500
neutral,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500
sad,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500
surprised,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500,3500

In [ ]:
df_jl_esd = pd.concat([jl,esd])

In [ ]:
esd.to_pickle("esd.pkl")

In [ ]:
big_5 = pd.read_pickle("database_final_v5.pkl")
# asvp = pd.read_pickle("asvp.pkl")
jl = pd.read_pickle("jl.pkl")
# esd = pd.read_pickle("esd.pkl")

In [ ]:
df_final = pd.concat([big_5,esd])

In [ ]:
df_final.groupby('emotion').count()

,id,wave,mel_spec,fourrier,spec,spectral_centroid,mfcc,chroma_stft,tonnetz,intensity,repetition,actor_gender,actor_age,source
emotion,,,,,,,,,,,,,,
angry,6180,6180,6180,6180,6180,6180,6180,6180,6180,6180,6180,6180,6180,6180
bored,21,21,21,21,21,21,21,21,21,21,21,21,21,21
calm,192,192,192,192,192,192,192,192,192,192,192,192,192,192
disappointment,180,180,180,180,180,180,180,180,180,180,180,180,180,180
disgust,2033,2033,2033,2033,2033,2033,2033,2033,2033,2033,2033,2033,2033,2033
excited,178,178,178,178,178,178,178,178,178,178,178,178,178,178
fearful,2028,2028,2028,2028,2028,2028,2028,2028,2028,2028,2028,2028,2028,2028
happy,5801,5801,5801,5801,5801,5801,5801,5801,5801,5801,5801,5801,5801,5801
neutral,6110,6110,6110,6110,6110,6110,6110,6110,6110,6110,6110,6110,6110,6110
pain,28,28,28,28,28,28,28,28,28,28,28,28,28,28
pleasure,23,23,23,23,23,23,23,23,23,23,23,23,23,23
sad,5655,5655,5655,5655,5655,5655,5655,5655,5655,5655,5655,5655,5655,5655
surprised,4470,4470,4470,4470,4470,4470,4470,4470,4470,4470,4470,4470,4470,4470

In [ ]:
df_final.shape

(32899, 15)

In [ ]:
df_final.to_pickle("database_final_v6.pkl")